---
title: About me
---

<section class="article-section">

	<h2>About me</h2>
	<%= image_tag "profile_circle.png", alt: "Profile image", class: "profile-img skew" %>
	<p>
		The story of my life so far is quite simple. After using a computer for a few times as a child it became quite clear that my future would be based around them. Programming for the first time felt like using magic and beginning computer science studies felt like going to Hogwarts.
	</p>
	<p>
		My main goal is to graduate become a full-time developer. I'm currently working on my master's studies and as a part-time software developer in test. At the same time I'm always tying to learn new things on my own with a current focus on web development.	Other things I enjoy include guitar playing, sport climbing, bouldering, excellent coffee and green tea. Feel free to drop me a line for whatever reason!
	</p>
	<p>
		You can also check out my <a href="/files/cv_eng.pdf">CV</a> if that's your thing.
	</p>
</section>

<section class="article-section">
	<h2>Contact</h2>
	<p><span class="fa fa-envelope"></span> <a href="mailto:hi@tuomok.fi">hi@tuomok.fi</a></p>
	<p><span class="fa fa-github-alt"></span> <a href="https://github.com/Tuomoz">Tuomoz</a></p>
</section>